<div class="container">
  <br/>
  <h3>
    List Repository
    <div style="float: right;">
      <button class="btn btn-primary">Add</button>
    </div>
  </h3>
  <br/>
</div>
<div class="container">
  <div class="panel">
    <h4>Beton Trackgo</h4>
    <table>
      <tr>
        <th>Host</th>
        <td>:</td>
        <td>153.92.4.32</td>
      </tr>
      <tr>
        <th>Username&nbsp;&nbsp;</th>
        <td>:</td>
        <td>root</td>
      </tr>
    </table>
  </div>
</div>
<div class="container" *ngIf="false">
  <div class="row">
    <div class="col-md-12">
      Host
      <input type="text" class="form-control"/>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6">
      Username
      <input type="text" class="form-control"/>
    </div>
    <div class="col-md-6">
      Password
      <input type="text" class="form-control"/>
    </div>
  </div>
  <br/>
  <button class="btn btn-primary">Save</button>&nbsp;
  <button class="btn btn-danger">Back</button>
</div>
