<div class="container">
  <br/>
  <h3>
    List Repository
    <div style="float: right;">
      <button class="btn btn-primary" (click)="toggleEditorCreate()">{{ !isEditorCreate ? 'Add' : 'Cancel' }}</button>
    </div>
  </h3>
  <br/>
</div>
<div class="container" *ngIf="!isEditorCreate">
  <p align="center" *ngIf="listRepository.length == 0">
    No repository exist
    <br/>
    Add new one
  </p>
  <div class="panel" *ngFor="let x of listRepository" (click)="toggleEditorCreate(x)">
    <h4>{{ x.getCleanProjectName() }}</h4>
    <table>
      <tr>
        <th>URL</th>
        <td>:&nbsp;&nbsp;</td>
        <td>{{ x.originalURL }}</td>
      </tr>
      <tr>
        <th>Url Type&nbsp;&nbsp;</th>
        <td>:</td>
        <td>{{ x.urlType }}</td>
      </tr>
      <tr>
        <th>Cloned&nbsp;&nbsp;</th>
        <td>:</td>
        <td>{{ x.cloned ? "Yes" : "No" }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="container" *ngIf="isEditorCreate">
  <div class="row">
    <div class="col-md-12">
      URL
      <input type="text" class="form-control" [(ngModel)]="currentEditGit.url"/>
    </div>
  </div>
  <br/>
  <button class="btn btn-primary" (click)="gitSave(currentEditGit)">Save</button>&nbsp;
</div>
