.sticking-header {
  position: fixed;
  width: 100%;
  z-index: 10;

  .header {
    background-color: #3498db;
    height: 80px;
    display: block;
    color: #fff;
    padding: 0 10px;
    z-index: 10;
  }

  .container-menu {
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          display: block;
          color: #B5B5B5;
          text-align: center;
          padding: 5px 15px;
          text-decoration: none;
          //font-family: 'lemon', serif;
          font-family: 'Share', cursive;
          //font-size: 30px;
          font-size: 20px;
        }

        a.active {
          color: #3498DB;
          border-bottom: 2px solid #3498DB;
        }
      }
    }

    .optional-component {
      float: right;
    }
  }
}

.content {
  padding: 130px 10px 10px 10px;
}
