<div class="container">
  <br/>
  <h3>
    Script
    <div style="float: right;">
      <button class="btn btn-primary"
              (click)="toggleEditorCreate()">{{ !isEditorCreate ? 'Create' : 'Cancel' }}</button>
    </div>
  </h3>
  <br/>
</div>
<div class="container" *ngIf="!isEditorCreate">
  <p align="center" *ngIf="listScript.length == 0">
    No script exist
    <br/>
    Add new one
  </p>
  <div class="panel" *ngFor="let x of listScript" (click)="toggleEditorCreate(x)">
    <h4>{{ x.name }}</h4>
    <hr/>
    <div>
      <b>Description</b><br/>
      {{ (x.description !== "" && x.description !== null) ? x.description : "No Description for this scripts" }}
    </div>
  </div>
</div>
<div class="container" *ngIf="isEditorCreate">
  <div class="row">
    <div class="col-md-12">
      Script Name
      <input type="text" class="form-control" [(ngModel)]="currentEditScript.name"/>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      Description
      <textarea class="form-control" [(ngModel)]="currentEditScript.description"></textarea>
    </div>
  </div>
  <br/>
  <textarea #code>{{currentEditScript.command | CodeEditor }}</textarea>
  <br/>
  <button class="btn btn-primary">Save</button>&nbsp;
</div>
