<div class="container">
  <h4>Welcome to Operation X</h4>
  <span class="badge badge-secondary">Version 0.0.1</span>&nbsp;
  <span class="badge badge-danger">Alpha</span>
  <br/><br/>
  Version 0.0.1 Alpha
  <div class="panel">
    <h3>Description</h3>
    <p>
      This is our first version of Operation X, this software originally design and code by Supan Adit Pratama, which
      is my self, the story why i am build this software because i want any developer easily to deploy, fixing
      dependency automatically, automate rest api testing, automate building apps, etc, because X could be anything.
    </p>
    <h3>New Feature</h3>
    <ul>
      <li>Server Feature Added</li>
      <li>Repository Feature Added</li>
      <li>Git Feature Added</li>
      <li>Deploy Feature Added</li>
      <li>Connecting To Main Engine</li>
      <li>Connecting To Back End</li>
    </ul>
  </div>
</div>
