/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: 'lemon';
  src: url("assets/font/lemon.ttf") format("truetype");
}

body {
  background-color: #ECF0F1;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.panel {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
}

.panel:hover {
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.18);
}
